.container{
  display: flex; 
  flex-direction: column;
  height: 100vh;
}
.header{ 
  flex:15%;
  background-color:  656839;
}
.menu{
  flex:5%;
  background-color: A0C79F;
  display: flex;
}
.menu a{
  padding :15px 20px;
}
.content {
 flex:70%;
 background-color: F3D9DC; 
}
.content iframe{
   flex:1;
   border: none;
   width: 100%;
   height:100%;
  }
.footer{
 flex:5%;
 background-color: C78283;
}

h1 {
  color: 4C8554;
  text-align: center;
}
td {
  text-align: center;
}
.tieude {
  color: 78986B;
  font-size: 25pt;
  top-margin: 18pt;
}
.noidung {
  color: 302615;
  font-size: 15pt;
  top-margin: 6pt;
}
.tieude2 { 
  color: d7ceb2; 
  font-size: 25pt; 
  top-margin: 18pt;
}
