.container{
  display: flex; 
  flex-direction: column;
  height: 100vh;
}
.header{ 
  flex:15%;
  background-color:  a0c79f;
}
.menu{
  flex:5%;
  background-color: f9e0d9;
}
.content {
 flex:70%;
 background-color: 7d6167; 
}
.footer{
 flex:5%;
 background-color: 754f5b;
}

h1 {
  color: 4C8554;
  text-align: center;
}
td {
  text-align: center;
}
.tieude {
  color: 78986B;
  font-size: 25pt;
  top-margin: 18pt;
}
.noidung {
  color: 302615;
  font-size: 15pt;
  top-margin: 6pt;
}
.tieude2 { 
  color: d7ceb2; 
  font-size: 25pt; 
  top-margin: 18pt;
}
